[Unit]
Description=WebUI fot crontab
After=network-online.target

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/bin/node ~/crontab-ui/node_modules/crontab-ui/bin/crontab-ui
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=CNCJS
User=pi
Environment=HOST=0.0.0.0
Environment=PORT=8000

[Install]
WantedBy=multi-user.target